-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: localhost    Database: manga_reader
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bookmarks`
--

DROP TABLE IF EXISTS `bookmarks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookmarks` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `manga_id` bigint NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_user_bookmark` (`user_id`,`manga_id`),
  KEY `manga_id` (`manga_id`),
  CONSTRAINT `bookmarks_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `bookmarks_ibfk_2` FOREIGN KEY (`manga_id`) REFERENCES `manga` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookmarks`
--

LOCK TABLES `bookmarks` WRITE;
/*!40000 ALTER TABLE `bookmarks` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookmarks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chapter_views`
--

DROP TABLE IF EXISTS `chapter_views`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chapter_views` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `chapter_id` bigint NOT NULL,
  `user_id` bigint DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `viewed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_chapter_views` (`chapter_id`,`viewed_at`),
  CONSTRAINT `chapter_views_ibfk_1` FOREIGN KEY (`chapter_id`) REFERENCES `chapters` (`id`),
  CONSTRAINT `chapter_views_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chapter_views`
--

LOCK TABLES `chapter_views` WRITE;
/*!40000 ALTER TABLE `chapter_views` DISABLE KEYS */;
/*!40000 ALTER TABLE `chapter_views` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chapters`
--

DROP TABLE IF EXISTS `chapters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chapters` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `manga_id` bigint NOT NULL,
  `chapter_main` int NOT NULL,
  `chapter_sub` int DEFAULT NULL,
  `chapter_label` varchar(100) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `chapter_folder_name` varchar(100) NOT NULL,
  `volume_number` int DEFAULT NULL,
  `chapter_type` enum('regular','special','extra','omake','side_story') DEFAULT NULL,
  `anchor_path` varchar(500) DEFAULT NULL,
  `preview_url` varchar(500) DEFAULT NULL,
  `uploaded_by` bigint NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_chapters_slug` (`slug`),
  KEY `manga_id` (`manga_id`),
  KEY `uploaded_by` (`uploaded_by`),
  KEY `ix_chapters_id` (`id`),
  CONSTRAINT `chapters_ibfk_1` FOREIGN KEY (`manga_id`) REFERENCES `manga` (`id`),
  CONSTRAINT `chapters_ibfk_2` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chapters`
--

LOCK TABLES `chapters` WRITE;
/*!40000 ALTER TABLE `chapters` DISABLE KEYS */;
INSERT INTO `chapters` VALUES (1,1,1,1,'Chapter 1','crimson_reset-chapter-1-1','Chapter_001',NULL,'regular',NULL,NULL,1,'2026-02-17 09:24:39','2026-02-17 09:24:39'),(2,1,2,0,'Chapter 2','crimson_reset-chapter-2','Chapter_002',NULL,'regular',NULL,NULL,1,'2026-02-17 15:11:12','2026-02-17 15:11:12');
/*!40000 ALTER TABLE `chapters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `genres`
--

DROP TABLE IF EXISTS `genres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `genres` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `slug` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `slug` (`slug`),
  KEY `ix_genres_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `genres`
--

LOCK TABLES `genres` WRITE;
/*!40000 ALTER TABLE `genres` DISABLE KEYS */;
INSERT INTO `genres` VALUES (1,'Action','action'),(2,'Adventure','adventure'),(3,'Comedy','comedy'),(4,'Drama','drama'),(5,'Fantasy','fantasy'),(6,'Horror','horror'),(7,'Mystery','mystery'),(8,'Romance','romance'),(9,'Sci-Fi','sci-fi'),(10,'Slice of Life','slice-of-life'),(11,'Sports','sports'),(12,'Supernatural','supernatural'),(13,'Thriller','thriller'),(14,'Psychological','psychological'),(15,'Historical','historical'),(16,'School Life','school-life'),(17,'Martial Arts','martial-arts'),(18,'Isekai','isekai'),(19,'Harem','harem'),(20,'Ecchi','ecchi');
/*!40000 ALTER TABLE `genres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `image_cache`
--

DROP TABLE IF EXISTS `image_cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `image_cache` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `chapter_id` bigint NOT NULL,
  `gdrive_file_id` varchar(255) NOT NULL,
  `local_path` varchar(500) NOT NULL,
  `page_order` int NOT NULL,
  `last_accessed` datetime NOT NULL,
  `is_persistent` tinyint(1) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_image_cache_gdrive_file_id` (`gdrive_file_id`),
  KEY `chapter_id` (`chapter_id`),
  KEY `ix_image_cache_id` (`id`),
  CONSTRAINT `image_cache_ibfk_1` FOREIGN KEY (`chapter_id`) REFERENCES `chapters` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `image_cache`
--

LOCK TABLES `image_cache` WRITE;
/*!40000 ALTER TABLE `image_cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `image_cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga`
--

DROP TABLE IF EXISTS `manga`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text,
  `cover_image_path` varchar(500) DEFAULT NULL,
  `storage_id` bigint NOT NULL,
  `type_id` bigint NOT NULL,
  `status` enum('ongoing','completed') DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_manga_slug` (`slug`),
  KEY `storage_id` (`storage_id`),
  KEY `type_id` (`type_id`),
  KEY `ix_manga_id` (`id`),
  CONSTRAINT `manga_ibfk_1` FOREIGN KEY (`storage_id`) REFERENCES `storage_sources` (`id`),
  CONSTRAINT `manga_ibfk_2` FOREIGN KEY (`type_id`) REFERENCES `manga_types` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga`
--

LOCK TABLES `manga` WRITE;
/*!40000 ALTER TABLE `manga` DISABLE KEYS */;
INSERT INTO `manga` VALUES (1,'crimson reset','crimson_reset','al kisah',NULL,1,2,'ongoing','2026-02-17 08:59:55','2026-02-17 08:59:55'),(2,'one-piece','one-piece','sada',NULL,1,1,'ongoing','2026-02-17 14:45:25','2026-02-17 14:45:25');
/*!40000 ALTER TABLE `manga` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_alt_titles`
--

DROP TABLE IF EXISTS `manga_alt_titles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_alt_titles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `manga_id` bigint NOT NULL,
  `title` varchar(255) NOT NULL,
  `lang` varchar(5) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `manga_id` (`manga_id`),
  KEY `ix_manga_alt_titles_id` (`id`),
  CONSTRAINT `manga_alt_titles_ibfk_1` FOREIGN KEY (`manga_id`) REFERENCES `manga` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_alt_titles`
--

LOCK TABLES `manga_alt_titles` WRITE;
/*!40000 ALTER TABLE `manga_alt_titles` DISABLE KEYS */;
/*!40000 ALTER TABLE `manga_alt_titles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_genre`
--

DROP TABLE IF EXISTS `manga_genre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_genre` (
  `manga_id` bigint NOT NULL,
  `genre_id` bigint NOT NULL,
  PRIMARY KEY (`manga_id`,`genre_id`),
  KEY `genre_id` (`genre_id`),
  CONSTRAINT `manga_genre_ibfk_1` FOREIGN KEY (`manga_id`) REFERENCES `manga` (`id`),
  CONSTRAINT `manga_genre_ibfk_2` FOREIGN KEY (`genre_id`) REFERENCES `genres` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_genre`
--

LOCK TABLES `manga_genre` WRITE;
/*!40000 ALTER TABLE `manga_genre` DISABLE KEYS */;
INSERT INTO `manga_genre` VALUES (1,3),(2,4),(1,5),(1,6),(2,6),(1,7);
/*!40000 ALTER TABLE `manga_genre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_types`
--

DROP TABLE IF EXISTS `manga_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_types` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `slug` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `slug` (`slug`),
  KEY `ix_manga_types_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_types`
--

LOCK TABLES `manga_types` WRITE;
/*!40000 ALTER TABLE `manga_types` DISABLE KEYS */;
INSERT INTO `manga_types` VALUES (1,'Manga','manga'),(2,'Manhwa','manhwa'),(3,'Manhua','manhua'),(4,'Novel','novel'),(5,'Doujinshi','doujinshi'),(6,'One-shot','one-shot');
/*!40000 ALTER TABLE `manga_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_views`
--

DROP TABLE IF EXISTS `manga_views`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_views` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `manga_id` bigint NOT NULL,
  `user_id` bigint DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `viewed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_manga_views` (`manga_id`,`viewed_at`),
  CONSTRAINT `manga_views_ibfk_1` FOREIGN KEY (`manga_id`) REFERENCES `manga` (`id`),
  CONSTRAINT `manga_views_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_views`
--

LOCK TABLES `manga_views` WRITE;
/*!40000 ALTER TABLE `manga_views` DISABLE KEYS */;
/*!40000 ALTER TABLE `manga_views` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pages`
--

DROP TABLE IF EXISTS `pages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pages` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `chapter_id` bigint NOT NULL,
  `gdrive_file_id` varchar(255) NOT NULL,
  `page_order` int NOT NULL,
  `is_anchor` tinyint(1) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `chapter_id` (`chapter_id`),
  KEY `ix_pages_id` (`id`),
  CONSTRAINT `pages_ibfk_1` FOREIGN KEY (`chapter_id`) REFERENCES `chapters` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pages`
--

LOCK TABLES `pages` WRITE;
/*!40000 ALTER TABLE `pages` DISABLE KEYS */;
/*!40000 ALTER TABLE `pages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reading_history`
--

DROP TABLE IF EXISTS `reading_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reading_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `manga_id` bigint NOT NULL,
  `chapter_id` bigint NOT NULL,
  `page_number` int DEFAULT NULL,
  `last_read_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `manga_id` (`manga_id`),
  KEY `chapter_id` (`chapter_id`),
  KEY `idx_user_chapter` (`user_id`,`chapter_id`),
  KEY `idx_user_manga` (`user_id`,`manga_id`),
  CONSTRAINT `reading_history_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `reading_history_ibfk_2` FOREIGN KEY (`manga_id`) REFERENCES `manga` (`id`),
  CONSTRAINT `reading_history_ibfk_3` FOREIGN KEY (`chapter_id`) REFERENCES `chapters` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reading_history`
--

LOCK TABLES `reading_history` WRITE;
/*!40000 ALTER TABLE `reading_history` DISABLE KEYS */;
INSERT INTO `reading_history` VALUES (1,2,1,1,3,'2026-02-17 14:22:49');
/*!40000 ALTER TABLE `reading_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reading_lists`
--

DROP TABLE IF EXISTS `reading_lists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reading_lists` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `manga_id` bigint NOT NULL,
  `status` enum('plan_to_read','reading','completed','dropped','on_hold') NOT NULL,
  `rating` int DEFAULT NULL,
  `notes` text,
  `added_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_user_manga_list` (`user_id`,`manga_id`),
  KEY `manga_id` (`manga_id`),
  KEY `idx_user_status` (`user_id`,`status`),
  CONSTRAINT `reading_lists_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `reading_lists_ibfk_2` FOREIGN KEY (`manga_id`) REFERENCES `manga` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reading_lists`
--

LOCK TABLES `reading_lists` WRITE;
/*!40000 ALTER TABLE `reading_lists` DISABLE KEYS */;
/*!40000 ALTER TABLE `reading_lists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `ix_roles_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'admin'),(3,'uploader'),(2,'user');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `storage_sources`
--

DROP TABLE IF EXISTS `storage_sources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `storage_sources` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `source_name` varchar(100) NOT NULL,
  `base_folder_id` varchar(255) NOT NULL,
  `status` enum('active','suspended') NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_storage_sources_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `storage_sources`
--

LOCK TABLES `storage_sources` WRITE;
/*!40000 ALTER TABLE `storage_sources` DISABLE KEYS */;
INSERT INTO `storage_sources` VALUES (1,'Google Drive - Main','manga_library','active','2026-02-17 07:45:57','2026-02-17 07:45:57');
/*!40000 ALTER TABLE `storage_sources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_role`
--

DROP TABLE IF EXISTS `user_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_role` (
  `user_id` bigint NOT NULL,
  `role_id` bigint NOT NULL,
  PRIMARY KEY (`user_id`,`role_id`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `user_role_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `user_role_ibfk_2` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_role`
--

LOCK TABLES `user_role` WRITE;
/*!40000 ALTER TABLE `user_role` DISABLE KEYS */;
INSERT INTO `user_role` VALUES (1,1),(2,2);
/*!40000 ALTER TABLE `user_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `avatar_url` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `last_login` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_users_username` (`username`),
  UNIQUE KEY `ix_users_email` (`email`),
  KEY `ix_users_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','admin@mangareader.local','$2b$12$gG3i6YgR965mLOqRrGYkuO5vbJaUwqCVmCXwCtV8Fc5.mP3nNqV7C',NULL,1,'2026-02-17 07:45:57','2026-02-17 15:09:07'),(2,'san','Sandyansyah356@gmail.com','$2b$12$PSjU2LCstDZvOy9sRZgJRuTE5BBfIsJRmdpL7l/3pfhsoOEsZeqAm',NULL,1,'2026-02-17 09:35:52','2026-02-17 14:21:58');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-18 16:43:01
